html {
}

body {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	background: url(../images/ique-logo.png) no-repeat;
	background-color: black;
	transition: background-color 1s linear;
	background-position: center center;
	margin: 0;
	padding: 0;
}

#playerApp {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.que-player {
	width: 800px;
	height: 600px;
	position: relative;
	/*overflow: hidden;*/
}

.que-task {
	height: 100%;

	#continue-button {
		position: absolute;
	}

	.mouse-trail {
		position: absolute;
		transform-origin: 10% 10%;
		z-index: 4;
	}

	.cursor {
	}
}

.step-holder {
	position: relative;
	width: 100%;
	height: 100%;

	.step {
		width: 100%;
		height: 100%;
		position: absolute;
	}

	.step-text {
		position: absolute;
		background: linear-gradient(to top, #3ba23b 0%, #28d326 80%, #17c633 90%, #9cee90 100%);
		padding: 10px;
		color: white;
		font-weight: 300;
		font-size: 18px;
		border: 3px solid white;
		top: 75px;
		left: 75px;
		box-shadow: 0px 0px 8px #909090;
		max-width: 300px;
		text-align: center;
		z-index: 3;

		&.hinted {
			background: linear-gradient(to top, #a23f48 0%, #d31f41 80%, #c6081d 90%, #eea196 100%);
			transition: background-color .5s ease-in-out;
		}
	}

	.step-arrow:after, .step-arrow:before {
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.step-arrow {
		position: absolute;

		&.arrow-top:after, &.arrow-top:before {
			bottom: 100%;
			left: 50%;
			transform-origin: 0 50%;
		}

		&.arrow-bottom:after, &.arrow-bottom:before {
			top: 100%;
			left: 50%;
			transform-origin: 0 50%;
		}

		&.arrow-left:after, &.arrow-left:before {
			right: 100%;
			top: 50%;
		}

		&.arrow-right:after, &.arrow-right:before {
			left: 100%;
			top: 50%;
		}

		&.arrow-top:after {
			border-bottom-color: white;
			margin-left: -25px;
			-webkit-filter: drop-shadow(0px -2px 2px rgba(0, 0, 0, .5));
		}

		&.arrow-top:before {
			border-bottom-color: white;
			margin-left: -26px;
		}

		&.arrow-bottom:after {
			border-top-color: white;
			margin-left: -25px;
			-webkit-filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .5));
		}

		&.arrow-bottom:before {
			border-top-color: white;
			margin-left: -26px;
		}

		&.arrow-left:after {
			border-right-color: white;
			margin-top: -25px;
			-webkit-filter: drop-shadow(-2px 0px 2px rgba(0, 0, 0, .5));
		}

		&.arrow-left:before {
			border-right-color: white;
			margin-top: -26px;
		}

		&.arrow-right:after {
			border-left-color: white;
			margin-top: -25px;
			-webkit-filter: drop-shadow(2px 0px 2px rgba(0, 0, 0, .5));
		}

		&.arrow-right:before {
			border-left-color: white;
			margin-top: -26px;
		}
	}

	.step-arrow:after {
		border-color: rgba(255, 255, 255, 0);
		border-width: 25px;
	}

	.step-arrow:before {
		border-color: rgba(255, 255, 255, 0);
		border-width: 26px;
	}

	.step-image {
		position: absolute;

		&.tall {
			width: 100%;
		}

		&.wide {
			height: 100%;
		}
	}

	.step-hotspot {
		position: absolute;
		border: 4px solid mediumblue;
		background: rgba(55, 104, 255, 0.20);
		box-sizing: content-box;
	}

	.step.text-input .step-hotspot {
		border: none;
		background: none;
	}

	.step.current:not(.started) .step-hotspot {
		display: none;
	}
}

.inviso {
	visibility: hidden;
}

#watch-button, #try-button {
	float: right;
}

#overlay-button {
	position: absolute;

	padding: 30px 60px;

	font-size: 32px;

	outline: none;

	box-shadow: -20px 20px 50px black;

	&:hover {
		background-color: #888;
		color: black;

		&:before {
			color: white;
		}
	}

	&:before {
		display: block;
		color: rgb(53, 44, 134);
		font-weight: bold;
	}

	&.watch:before {
		content: "Watch It";
	}

	&.try:before {
		content: "Try It";
	}
}

#enter-key {
	position: absolute;
	display: none;
	transform: translate(-50%, -50%);
	transform-origin: 50% 50%;
}

.input-box {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: none;
	background: none;
}