html {
}

body {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	background: #f2edaf;
	margin: 0;
	padding: 0;
}

.que-player {
	width: 800px;
	height: 600px;
	background: blue;
	position: relative;

	h1, h2 {
		position: absolute;
		margin: 0;
		z-index: 100;
		width: 100%;
		text-align: center;
	}
}

.que-task {
	height: 100%;

	#continue-button {
		position: absolute;
	}
}

.step-holder {
	position: relative;
	width: 100%;
	height: 100%;

	.step {
		width: 100%;
		height: 100%;
		position: absolute;
	}

	.step-text {
		position: absolute;
		background: linear-gradient(to top, #3ba23b 0%, #28d326 80%, #17c633 90%, #9cee90 100%);
		padding: 10px;
		color: white;
		font-weight: 300;
		font-size: 18px;
		border: 3px solid white;
		top: 75px;
		left: 75px;
		box-shadow: 0px 0px 8px #909090;
		max-width: 300px;
		text-align: center;
		z-index: 3;

		&.arrow:after, &.arrow:before {
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		&.arrow-top:after, &.arrow-top:before {
			bottom: 100%;
			left: 50%;
		}

		&.arrow-bottom:after, &.arrow-bottom:before {
			top: 100%;
			left: 50%;
		}

		&.arrow-left:after, &.arrow-left:before {
			right: 100%;
			top: 50%;
		}

		&.arrow-right:after, &.arrow-right:before {
			left: 100%;
			top: 50%;
		}

		&.arrow:after {
			border-color: rgba(255, 255, 255, 0);
			border-width: 25px;
		}

		&.arrow:before {
			border-color: rgba(255, 255, 255, 0);
			border-width: 26px;
		}

		&.arrow-top:after {
			border-bottom-color: white;
			margin-left: -25px;
			-webkit-filter: drop-shadow(0px -2px 2px rgba(0, 0, 0, .5));
		}

		&.arrow-top:before {
			border-bottom-color: white;
			margin-left: -26px;
		}

		&.arrow-bottom:after {
			border-top-color: white;
			margin-left: -25px;
			-webkit-filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .5));
		}

		&.arrow-bottom:before {
			border-top-color: white;
			margin-left: -26px;
		}

		&.arrow-left:after {
			border-right-color: white;
			margin-top: -25px;
			-webkit-filter: drop-shadow(-2px 0px 2px rgba(0, 0, 0, .5));
		}

		&.arrow-left:before {
			border-right-color: white;
			margin-top: -26px;
		}

		&.arrow-right:after {
			border-left-color: white;
			margin-top: -25px;
			-webkit-filter: drop-shadow(2px 0px 2px rgba(0, 0, 0, .5));
		}

		&.arrow-right:before {
			border-left-color: white;
			margin-top: -26px;
		}

		&.hinted {
			background: linear-gradient(to top, #a23f48 0%, #d31f41 80%, #c6081d 90%, #eea196 100%);
			transition: background-color .5s ease-in-out;
		}
	}

	.step-image {
		position: absolute;
		width: 100%;
	}

	.step-hotspot {
		position: absolute;
		border: 5px solid red;
	}
}

.inviso {
	visibility: hidden;
}