body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background: url(../images/ique-logo.png) no-repeat;
  background-color: black;
  transition: background-color 1s linear;
  background-position: center center;
  margin: 0;
  padding: 0; }

#playerApp {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.que-player {
  width: 800px;
  height: 600px;
  position: relative;
  /*overflow: hidden;*/ }

.que-task {
  height: 100%; }
  .que-task #continue-button {
    position: absolute; }
  .que-task .mouse-trail {
    position: absolute;
    transform-origin: 10% 10%;
    z-index: 4; }

.step-holder {
  position: relative;
  width: 100%;
  height: 100%; }
  .step-holder .step {
    width: 100%;
    height: 100%;
    position: absolute; }
  .step-holder .step-text {
    position: absolute;
    background: linear-gradient(to top, #3ba23b 0%, #28d326 80%, #17c633 90%, #9cee90 100%);
    padding: 10px;
    color: white;
    font-weight: 300;
    font-size: 18px;
    border: 3px solid white;
    top: 75px;
    left: 75px;
    box-shadow: 0px 0px 8px #909090;
    max-width: 300px;
    text-align: center;
    z-index: 3; }
    .step-holder .step-text.arrow:after, .step-holder .step-text.arrow:before {
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .step-holder .step-text.arrow-top:after, .step-holder .step-text.arrow-top:before {
      bottom: 100%;
      left: 50%; }
    .step-holder .step-text.arrow-bottom:after, .step-holder .step-text.arrow-bottom:before {
      top: 100%;
      left: 50%; }
    .step-holder .step-text.arrow-left:after, .step-holder .step-text.arrow-left:before {
      right: 100%;
      top: 50%; }
    .step-holder .step-text.arrow-right:after, .step-holder .step-text.arrow-right:before {
      left: 100%;
      top: 50%; }
    .step-holder .step-text.arrow:after {
      border-color: rgba(255, 255, 255, 0);
      border-width: 25px; }
    .step-holder .step-text.arrow:before {
      border-color: rgba(255, 255, 255, 0);
      border-width: 26px; }
    .step-holder .step-text.arrow-top:after {
      border-bottom-color: white;
      margin-left: -25px;
      -webkit-filter: drop-shadow(0px -2px 2px rgba(0, 0, 0, 0.5)); }
    .step-holder .step-text.arrow-top:before {
      border-bottom-color: white;
      margin-left: -26px; }
    .step-holder .step-text.arrow-bottom:after {
      border-top-color: white;
      margin-left: -25px;
      -webkit-filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5)); }
    .step-holder .step-text.arrow-bottom:before {
      border-top-color: white;
      margin-left: -26px; }
    .step-holder .step-text.arrow-left:after {
      border-right-color: white;
      margin-top: -25px;
      -webkit-filter: drop-shadow(-2px 0px 2px rgba(0, 0, 0, 0.5)); }
    .step-holder .step-text.arrow-left:before {
      border-right-color: white;
      margin-top: -26px; }
    .step-holder .step-text.arrow-right:after {
      border-left-color: white;
      margin-top: -25px;
      -webkit-filter: drop-shadow(2px 0px 2px rgba(0, 0, 0, 0.5)); }
    .step-holder .step-text.arrow-right:before {
      border-left-color: white;
      margin-top: -26px; }
    .step-holder .step-text.hinted {
      background: linear-gradient(to top, #a23f48 0%, #d31f41 80%, #c6081d 90%, #eea196 100%);
      transition: background-color .5s ease-in-out; }
  .step-holder .step-image {
    position: absolute; }
    .step-holder .step-image.tall {
      width: 100%; }
    .step-holder .step-image.wide {
      height: 100%; }
  .step-holder .step-hotspot {
    position: absolute;
    border: 4px solid mediumblue;
    background: rgba(55, 104, 255, 0.2);
    box-sizing: content-box; }

.inviso {
  visibility: hidden; }

#watch-button, #try-button {
  float: right; }

#repeat-button {
  position: absolute; }

/*# sourceMappingURL=main.css.map */
